<nav class="top_menu">
    <ul>
      <li>
        <img class="image" src="/images/logo.jpg" alt="Logo" />
      </li>
      <li>
        <a href="/allorders">All Orders</a>
       </li>
      <li>
        <a href="/">INDIAN ETHNIC WEARS</a>
     </li>
    </ul>
 </nav>