<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/nav'); -%>
    <section>
        <h4>List Of Orders</h4>
        <table border="2px">
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Saree</th>
                <th>Jeans</th>
                <th>Top</th>
                <th>Churidhar</th>
                <th>Shirt</th>
                <th>Sub Total</th>
                <th>Tax</th>
                <th>Total</th>
            </thead>
            <tbody>
                <%
                    for (var order of orders)
                    {
                %>
                <tr>
                    <td><%= order.name %></td>
                    <td><%= order.email %></td>
                    <td><%= order.phone %></td>
                    <td><%= order.address %>, <%= order.city %>, <%= order.province %></td>
                    <td><%= order.saree %></td>
                    <td><%= order.jeans %></td>
                    <td><%= order.top %></td>
                    <td><%= order.churidhar %></td>
                    <td><%= order.shirt %></td>
                    <td>$<%= order.subTotal.toFixed(2) %></td>
                    <td>$<%= order.tax.toFixed(2) %></td>
                    <td>$<%= order.total.toFixed(2) %></td>
                </tr>
                <%
                    }
                %>
            </tbody>
        </table>
    </section>
</body>
<%- include('layouts/footer'); -%>